@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Noto Serif JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
th,
td,
dt,
dd,
small,
strong {
  font-family: "Noto Sans JP";
  color: #786552;
}

img {
  display: block;
  height: auto;
}

.header-tel {
  display: none;
}
@media screen and (max-width: 998px) {
  .header-tel {
    display: block;
    position: absolute;
    left: 50px;
    top: 81px;
  }
  .header-tel::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: #786552;
    -webkit-mask-image: url(../assets/images/tel.svg);
    mask-image: url(../assets/images/tel.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header {
  background-color: #c2e6ae;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-inner {
  padding: 41px 60px 19px;
  display: grid;
  grid-template-columns: auto 1fr 60px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 998px) {
  .header-inner {
    display: flex;
    justify-content: center;
  }
}

.logo {
  display: block;
}

@media screen and (max-width: 998px) {
  .header-nav {
    display: none;
  }
}

.header-nav-wrap {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.header-list a {
  color: #786552;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  transition: color 0.25s;
}
.header-list a:hover {
  color: #a9ca97;
}

.nav-btn {
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.25s;
  position: fixed;
  top: 42px;
  right: 60px;
  z-index: 999;
}
.nav-btn:hover {
  transform: rotate(0);
}
.nav-btn.openRotate {
  transform: rotate(0);
}

.nav-box {
  width: 40px;
  height: 40px;
  border: 2px solid #786552;
}

.nav-menu-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 84px;
}

.nav-logo {
  margin-bottom: 87px;
}

.nav-text {
  color: #786552;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-menu {
  max-width: 734px;
  width: 80%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: #c2e6ae;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.6s ease;
}
.nav-menu.is-open {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.nav-contents {
  display: grid;
  grid-template-columns: auto auto 1fr auto 1fr;
}

.nav-contents-title p {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.728px;
  width: fit-content;
  transform: rotate(-90deg);
  position: relative;
  top: 16px;
  right: -10px;
}

.nav-border {
  width: 1.234px;
  height: 100%;
  background-color: #786552;
  margin-right: 23px;
}

.nav-list-title {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.728px;
  margin-bottom: 10px;
}

.nav-list-link {
  margin: 10px 0;
}
.nav-list-link a {
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.681px;
  letter-spacing: 1.728px;
  transition: color 0.3s ease;
}
.nav-list-link a:hover {
  color: #a9ca97;
}

.nav-tel-box {
  margin: 100px 0 52px;
}
.nav-tel-box p {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.7px;
}
.nav-tel-box a {
  color: #786552;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  transition: color 0.3s ease;
}
.nav-tel-box a:hover {
  color: #a9ca97;
}

.nav-sns {
  display: flex;
  column-gap: 33px;
}
.nav-sns a {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 230, 174, 0.29);
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    width: 100%;
    overflow: scroll;
  }
  .nav-menu-inner {
    padding: 105px 45px 101px;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-logo {
    margin-bottom: 69px;
  }
  .nav-logo img {
    width: 194.687px;
  }
  .nav-contents {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .nav-contents-title p {
    transform: rotate(0);
    position: initial;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    width: 100%;
    padding-bottom: 18px;
  }
  .nav-contents-box {
    padding-left: 18px;
  }
  .nav-list-title {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 15px 0;
    margin-bottom: 0;
    position: relative;
    border-top: 1px solid #786552;
  }
  .nav-list-title::after {
    content: "▼";
    font-size: 14px;
    color: #786552;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
  .nav-list-link {
    margin: 0 0 8px;
  }
  .nav-list-link a {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .nav-list-title-about::after {
    display: none;
  }
  .nav-border {
    display: none;
  }
  .nav-list-item-wrap {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .nav-tel-box {
    margin-bottom: 50px;
  }
  .nav-tel-box p {
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  .nav-tel-box a {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
  .nav-sns {
    padding-bottom: 101px;
    column-gap: 31px;
  }
  .nav-sns a img {
    width: 41px;
    height: 42px;
  }
}
.footer {
  padding: 111px 0 46px;
  background-color: #c2e6ae;
}

.footer-inner {
  width: 95%;
  max-width: 1044px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  justify-content: space-between;
}

.footer-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  margin: 66px 0 17px;
}

.footer-info p,
.footer-info a {
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.4px;
}

.google-map {
  width: 165px;
  height: 30px;
  border: 1px solid #786552;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0 25px;
}
.google-map a {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  position: relative;
}
.google-map a::before {
  content: "";
  display: block;
  width: 14px;
  min-width: 14px;
  height: 18px;
  min-height: 18px;
  background-color: #786552;
  -webkit-mask-image: url(../assets/images/pin.svg);
  mask-image: url(../assets/images/pin.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
}

.footer-time {
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.4px;
  margin-bottom: 9px;
}

.footer-in {
  display: flex;
  column-gap: 17px;
  align-items: center;
}
.footer-in p {
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.4px;
}

.footer-right {
  position: relative;
}
.footer-right .nav-contents-box-01 {
  margin-right: 63px;
}

.copy {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Noto Serif JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1.2px;
}

.sp-br {
  display: block;
}

.address {
  font-family: "Noto Serif JP";
}

.copy-sp {
  display: none;
}

.page-top {
  display: none;
}

@media screen and (max-width: 840px) {
  .sp-br {
    display: none;
  }
  .footer-right .nav-contents {
    display: none;
  }
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-logo img {
    display: block;
    margin: 0 auto;
  }
  .address {
    padding-right: 4px;
  }
  .footer-info {
    text-align: center;
  }
  .footer-time {
    text-align: center;
  }
  .footer-in {
    flex-direction: column;
    row-gap: 4px;
    margin-top: 22px;
  }
  .copy-sp {
    display: block;
    font-family: "Noto Serif JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 80px 12px 63px;
    position: relative;
  }
  .footer-logo img {
    width: 100px;
  }
  .footer-title {
    margin: 30px auto;
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .footer-info {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .footer-time {
    font-size: 10px;
    line-height: 20px; /* 200% */
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .footer-in p {
    font-size: 10px;
    line-height: 20px; /* 200% */
    letter-spacing: 1px;
  }
  .page-top {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 80px;
  }
}
.fv {
  padding-top: 162px;
}
.fv .fv-inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.fv .swiper-container {
  padding-bottom: 60px;
}
.fv .swiper-pagination {
  position: relative;
  top: 43px;
}
.fv .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: #efede6;
  margin: 0 30px !important;
  border-radius: 0;
  display: inline-block;
}
.fv .swiper-pagination-bullet-active {
  background: #786552;
}

.fv-img {
  width: 100%;
}

.top-pick {
  padding: 121px 0 202px;
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
}

.top-pick-inner {
  padding: 0 40px;
}

.section-title {
  color: #786552;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.section-sub-title {
  color: #786552;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  margin: 2px auto 18px;
  width: fit-content;
}

.section-border-top {
  height: 3px;
  width: 100%;
  background: #efede6;
  margin-bottom: 11px;
}

.section-border-btm {
  height: 5px;
  background: #efede6;
  max-width: 500px;
  width: 60%;
  margin-left: 23.5%;
}

.top-pick-contents {
  display: grid;
  grid-template-columns: 284px 284px 284px;
  column-gap: 32px;
  justify-content: center;
  margin-top: 64px;
}

.top-pick-item img {
  width: 100%;
  height: auto;
}

.top-pick-item-text {
  border-left: 3px solid #efede6;
  margin-top: 16px;
  padding-left: 16px;
}

.pickup-tag {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.pickup-title {
  margin: 9px 0 10px;
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

.pickup-sub {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.top-catalog {
  background-color: #eee;
  padding: 88px 106px;
}

.top-catalog-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
}

.top-catalog-contents {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 43px;
  padding: 0 40px;
  margin-top: 64px;
}

.top-catalog-item img {
  width: 100%;
}

.top-catalog-border {
  width: 1px;
  background-color: #fff;
  height: 100%;
}

.top-category-contents img {
  width: 100%;
}

.top-category {
  padding: 200px 0 250px;
  position: relative;
  overflow: hidden;
}

.top-category-inner {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.top-category-contents {
  margin-top: 69px;
}
.top-category-contents .swiper-button-next::after {
  display: none;
}
.top-category-contents .swiper-button-next::before {
  content: "";
  width: 10px;
  height: 20px;
  display: block;
  background-image: url(../assets/images/next.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 40px;
  top: -16px;
  z-index: 5;
}
.top-category-contents .swiper-button-prev::after {
  display: none;
}
.top-category-contents .swiper-button-prev::before {
  content: "";
  width: 10px;
  height: 20px;
  display: block;
  background-image: url(../assets/images/prev.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 40px;
  top: -16px;
  z-index: 5;
}

.top-category-link {
  min-width: 212px;
  width: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #786552;
  margin: 70px auto 0;
}
.top-category-link a {
  color: #786552;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  padding: 9px;
  display: block;
}

.top-what-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
  padding: 128px 0 162px;
  position: relative;
}

.top-what-contents {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  column-gap: 10%;
  width: 80%;
  margin: 0 auto;
}

.top-what-title-box h2 {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: fit-content;
  margin-bottom: 10px;
}
.top-what-title-box h3 {
  color: #786552;
  width: fit-content;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 68px;
}
.top-what-title-box a {
  display: block;
  text-align: center;
  width: 134.743px;
  line-height: 36px;
  color: #786552;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 1px solid #786552;
}

.top-what-item:last-child a {
  border-bottom: 1px solid #786552;
}
.top-what-item a {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr 12px;
  align-items: center;
  border-top: 1px solid #786552;
}
.top-what-item a span {
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.top-what-date {
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-right: 57px;
}

.top-what-title {
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}

.top-contact {
  padding: 250px 0;
}

.top-contact-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
}

.top-contact-box {
  max-width: 672px;
  width: 80%;
  border: 5px solid #efede6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 87px 12px 102px;
}
.top-contact-box h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.top-contact-text {
  font-family: "Noto Serif JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
}

.top-contact-tel a {
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 4px;
  margin: 12px 0 11px;
  transition: opacity 0.3s ease;
}
.top-contact-tel a:hover {
  opacity: 0.6;
}

.top-sns {
  padding-bottom: 250px;
}

.top-sns-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 88px;
}

.sp-pickup {
  display: none;
}

.pc-br {
  display: none;
}

.sp-top-catalog-slider {
  display: none;
}

.fadeUpText {
  transform: translateY(10px) scale(0.99);
  opacity: 0;
}

.what-border {
  width: 100%;
  height: 5px;
  background: #efede6;
  position: absolute;
  left: 0;
}

.what-border-top {
  top: 0;
}

.what-border-btm {
  bottom: 0;
}

.animationBorder {
  width: 0%;
  overflow: hidden;
}

.fadeInImg {
  opacity: 0;
}

@media screen and (max-width: 998px) {
  .top-pick-contents {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .top-pick-inner {
    padding: 0;
  }
  .top-catalog {
    padding-left: 40px;
    padding-right: 40px;
  }
  .top-catalog-inner {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 80px;
  }
  .header-inner {
    padding: 40px 0 13px;
  }
  .logo img {
    width: 98px;
  }
  .nav-text {
    font-size: 7.672px;
  }
  .nav-box {
    width: 28.607px;
    height: 28.607px;
  }
  .header-tel {
    top: 53px;
    left: 30px;
  }
  .nav-btn {
    right: 18px;
    top: 32px;
  }
  .fv {
    padding-top: 85px;
  }
  .fv .swiper-pagination {
    top: 31px;
  }
  .fv .swiper-pagination-bullet {
    width: 40px;
  }
  .top-pick {
    padding: 79px 40px 96px;
    width: 100%;
  }
  .top-pick-inner {
    display: none;
  }
  .sp-pickup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 36px;
    column-gap: 20px;
  }
  .sp-pickup .top-pick-item-text {
    margin-top: 8px;
    padding-left: 8px;
    border-left: 1.5px solid #efede6;
  }
  .sp-pickup .pickup-tag {
    font-size: 9px;
    letter-spacing: -0.1px;
  }
  .sp-pickup .pickup-title {
    font-size: 12px;
    margin: 0;
    letter-spacing: -0.1px;
  }
  .sp-pickup .pickup-sub {
    font-size: 9px;
    letter-spacing: -0.1px;
  }
  .sp-pickup-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* スクロールアシストの要素を追加 */
  }
  .sp-pickup-title h2 {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
  }
  .sp-pickup-title h3 {
    text-align: center;
    font-family: "Noto Serif JP";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin: 15px auto 26px;
  }
  .sp-pickup-title .sp-pickup-border {
    width: 1.5px;
    height: 122px;
    position: relative;
    overflow: hidden;
  }
  @keyframes scrollAssist {
    0% {
      top: -10px;
      opacity: 0;
    }
    30% {
      top: 30%;
      opacity: 1;
    }
    100% {
      top: 122px;
      opacity: 0;
    }
  }
  .sp-pickup-title .sp-pickup-border::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5px;
    height: 100px;
    background: #efede6;
    animation: scrollAssist 2s infinite linear; /* 2秒の間隔で無限にアニメーションを繰り返す */
  }
  .top-catalog {
    padding: 71px 40px 78px;
    position: relative;
  }
  .section-title {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .section-sub-title {
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 27px;
  }
  .top-catalog-contents {
    display: none;
  }
  .pc-br {
    display: block;
  }
  .sp-top-catalog-slider {
    display: block;
    overflow: hidden;
  }
  .sp-top-catalog-slider .swiper-button-next::after {
    display: none;
  }
  .sp-top-catalog-slider .swiper-button-next::before {
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    background-image: url(../assets/images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 5;
  }
  .sp-top-catalog-slider .swiper-button-prev::after {
    display: none;
  }
  .sp-top-catalog-slider .swiper-button-prev::before {
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    background-image: url(../assets/images/prev.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 5;
  }
  .top-category {
    padding: 107px 40px;
  }
  .top-category-contents {
    margin-top: 32px;
  }
  .top-category-link {
    margin-top: 38px;
  }
  .top-category-contents .swiper-button-next::before {
    right: 24px;
    top: 1px;
  }
  .top-category-contents .swiper-button-prev::before {
    left: 24px;
    top: 1px;
  }
  .top-category-link a {
    font-size: 10px;
    padding: 7.2px;
  }
  .top-what {
    padding-left: 40px;
    padding-right: 40px;
  }
  .top-what-inner {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
    padding-bottom: 74px;
  }
  .top-what-contents {
    display: block;
    width: 100%;
  }
  .top-what-title-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  .top-what-title-box h2 {
    font-size: 14px;
    margin-bottom: 3px;
    letter-spacing: 1.4px;
  }
  .top-what-title-box h3 {
    grid-row-start: 2;
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: 1px;
  }
  .top-what-title-box a {
    grid-row-start: 2;
    margin-top: 31px;
    font-size: 10px;
    line-height: 26px;
    width: 97px;
    letter-spacing: 1px;
    margin: -10px 0 0 auto;
  }
  .top-what-list {
    margin-top: 31px;
  }
  .top-what-item a {
    grid-template-columns: 1fr auto;
    padding: 21px;
  }
  .top-what-item a span {
    font-size: 10px;
    position: relative;
    top: 9px;
  }
  .top-what-date {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .top-what-title {
    font-size: 12px;
    letter-spacing: 1.2px;
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .top-contact {
    padding: 107px 40px 120px;
  }
  .top-contact-inner {
    width: 100%;
  }
  .top-contact-box {
    width: 100%;
    padding: 67px 8px 78px;
  }
  .top-contact-box h2 {
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
  }
  .top-contact-box .top-contact-text {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .top-contact-tel {
    margin: 33px auto 11px;
  }
  .top-contact-tel a {
    font-size: 22px;
    letter-spacing: 2.2px;
  }
  .top-sns {
    padding-bottom: 200px;
  }
}
.how-fv {
  height: calc(100vh - 28px);
  width: 100%;
  padding-top: 120px;
  margin-bottom: 325px;
}

.how-fv-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.pan-list {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  padding: 47px 0 0 84px;
  position: relative;
  z-index: 3;
}

.how-fv-title {
  position: relative;
  z-index: 3;
  margin-left: 134px;
  margin-top: 38vh;
}
.how-fv-title h1 {
  font-family: "Noto Serif JP";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 175% */
  letter-spacing: 4px;
}

.how-fv-sub-title {
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 500% */
  letter-spacing: 1.4px;
}

.how-fv-item-wrap {
  position: absolute;
  left: 20%;
  bottom: -50%;
}

.how-fv-item {
  position: relative;
  z-index: 3;
}
.how-fv-item-top {
  background-color: transparent;
  padding: 16px 43px 42px;
  max-width: 640px;
  min-width: 640px;
  width: 90%;
  transition: background-color 0.3s ease-in-out;
}
.how-fv-item-top.animationSquareBg {
  background-color: #eff9ea;
}
.how-fv-item-btm {
  background-color: transparent;
  padding: 25px 48px 32px;
  max-width: 540px;
  min-width: 540px;
  width: 80%;
  top: 32px;
  left: 67%;
  transition: background-color 0.3s ease-in-out;
}
.how-fv-item-btm.animationSquareBg {
  background-color: #efede6;
}
.how-fv-item h2 {
  font-family: "Noto Serif JP";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 269.231% */
  letter-spacing: 2.6px;
}

.how-fv-border {
  height: 1px;
  width: 100%;
  background-color: #786552;
}

.how-fv-text {
  text-align: justify;
  font-family: "Noto Serif JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 1.6px;
  margin-top: 14px;
}

.how-fv-square {
  border: 2px solid #eee;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.how-fv-square.animationSquareBg {
  opacity: 1;
}
.how-fv-square-01 {
  width: 640px;
  height: 254px;
  left: 14%;
  top: 18%;
}
.how-fv-square-02 {
  width: 547px;
  height: 266px;
  left: 55%;
  top: 36%;
}

.how-fv-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.how-fv-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-ct {
  padding: 523px 0 0;
}

.how-ct-inner {
  width: 84%;
  max-width: 1400px;
  margin: 0 auto;
}

.how-ct-grid {
  display: grid;
  grid-template-columns: 296px 1fr;
  column-gap: 10%;
  position: relative;
}

.how-ct-nav {
  position: sticky;
  top: 156px;
  left: 0;
  height: fit-content;
  padding-bottom: 140px;
}

.how-ct-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 44px;
  padding-left: 8px;
}

.how-ct-nav-box {
  margin-bottom: 83px;
}

.how-nav-border {
  height: 1px;
  width: 100%;
  background-color: #efede6;
}

.how-ct-list:hover img {
  opacity: 1;
}
.how-ct-list a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  padding: 30px 0 30px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how-ct-list img {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.how-q-a {
  margin-bottom: 130px;
}
.how-q-a a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  line-height: 49px;
  width: 100%;
  border: 1px solid #786552;
}
.how-q-a span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-top: 12px;
}

.how-tel {
  text-align: center;
}
.how-tel span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.how-tel a {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.how-contents {
  padding-top: 34px;
}

.how-item {
  margin-bottom: 400px;
}

.how-item-top {
  position: relative;
}

.how-item-img-box {
  height: 250px;
}
.how-item-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-item-title {
  padding: 15px 45px 18px;
  width: 70%;
  position: relative;
  margin-top: -40px;
}

.how-item-main-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.how-item-sub-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  position: relative;
  z-index: 1;
}

.how-item-title-bg {
  background-color: #efede6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.how-item-top-border {
  position: absolute;
  bottom: 39px;
  height: 1px;
  right: 0;
  width: 47%;
  text-align: left;
  max-width: 353px;
  background-color: #786552;
  z-index: 1;
}

.how-item-top-border-02 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #efede6;
  z-index: 2;
}

.how-item-content {
  margin: 73px auto 107px;
  width: 100%;
}

.how-item-content-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  padding-left: 45px;
  margin-bottom: 9.5px;
}

.how-item-content-border {
  height: 3px;
  width: 100%;
  background-color: #efede6;
  margin-bottom: 10px;
}

.how-item-content-border-short {
  width: 139px;
  max-width: 139px;
  height: 5px;
  background-color: #efede6;
  margin-left: 45px;
}

.how-item-content-text {
  margin: 24.5px auto 55px;
  padding: 0 45px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
}

.how-item-img-wrap {
  padding: 0 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.how-item-img-wrap-02 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-item-img-wrap-03 {
  grid-template-columns: 206px 206px;
  justify-content: center;
}

.how-item-content-img img {
  width: 100%;
  display: block;
  margin-bottom: 13px;
}
.how-item-content-img h4 {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.72px;
}
.how-item-content-img p {
  margin-top: 6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.how-item-table {
  display: grid;
  grid-template-columns: 86px 132px 1fr;
  margin: 0 45px;
  border: 0.25px solid #786552;
}
.how-item-table .row {
  display: contents;
}
.how-item-table .row .cell {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border: 0.25px solid #786552;
  min-height: 33px;
  color: #786552;
  padding-top: 4px;
  padding-bottom: 4px;
}
.how-item-table .row .cell-year {
  min-width: 86px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  padding-left: 7px;
  background-color: #c2e6ae;
}
.how-item-table .row .cell-name {
  min-width: 132px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  padding-left: 11px;
}
.how-item-table .row .cell-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 200% */
  letter-spacing: -0.48px;
  padding-left: 13px;
  padding-right: 6px;
}

.how-table-btm-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
  margin-top: 25px;
}

.how-red .cell-name {
  color: #c95a5a !important;
}

.how-blue .cell-name {
  color: #917bb6 !important;
}

.how-beige .cell-name {
  color: #b6b6b6 !important;
}

.how-item-buddhist-text {
  display: grid;
  grid-template-columns: 230px 1fr;
  column-gap: 18px;
  align-items: center;
  margin: 55px 0 47px;
}
.how-item-buddhist-text p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}
.how-item-buddhist-text .buddhist-border {
  max-width: 416px;
  width: 100%;
  height: 3px;
  background-color: #efede6;
}

.buddhist-text {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-top: 41px;
}

.buddhist-flex {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  column-gap: 5%;
  padding: 0 45px;
}
.buddhist-flex .how-item-content-text {
  padding: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */