* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Noto Serif JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
th,
td,
dt,
dd,
small,
strong {
  font-family: "Noto Sans JP";
}

img {
  display: block;
  height: auto;
}

.header {
  background-color: #c2e6ae;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-inner {
  padding: 41px 60px 19px;
  display: grid;
  grid-template-columns: auto 1fr 60px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
}

.header-nav-wrap {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.header-list a {
  color: #786552;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.25s;
  letter-spacing: 1.6px;
}
.header-list a:hover {
  color: #A9CA97;
}

.nav-btn {
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.25s;
  position: fixed;
  top: 42px;
  right: 60px;
  z-index: 999;
}
.nav-btn:hover {
  transform: rotate(0);
}
.nav-btn.openRotate {
  transform: rotate(0);
}

.nav-box {
  width: 40px;
  height: 40px;
  border: 2px solid #786552;
}

.nav-menu-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 84px;
}

.nav-logo {
  margin-bottom: 87px;
}

.nav-text {
  color: #786552;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-menu {
  max-width: 734px;
  width: 80%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: #c2e6ae;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.6s ease;
}
.nav-menu.is-open {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.nav-contents {
  display: grid;
  grid-template-columns: auto auto 1fr auto 1fr;
}

.nav-contents-title p {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.728px;
  width: fit-content;
  transform: rotate(-90deg);
  position: relative;
  top: 16px;
  right: -10px;
}

.nav-border {
  width: 1.234px;
  height: 100%;
  background-color: #786552;
  margin-right: 23px;
}

.nav-list-title {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.728px;
  margin-bottom: 10px;
}

.nav-list-link {
  margin: 10px 0;
}
.nav-list-link a {
  color: #786552;
  font-family: "Noto Serif JP";
  font-size: 17.277px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.681px;
  letter-spacing: 1.728px;
  transition: color 0.3s ease;
}
.nav-list-link a:hover {
  color: #A9CA97;
}

.nav-tel-box {
  margin: 100px 0 52px;
}
.nav-tel-box p {
  color: #786552;
  font-family: "Noto Sans JP";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.7px;
}
.nav-tel-box a {
  color: #786552;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  transition: color 0.3s ease;
}
.nav-tel-box a:hover {
  color: #A9CA97;
}

.nav-sns {
  display: flex;
  column-gap: 33px;
}
.nav-sns a {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 230, 174, 0.29);
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.fv {
  padding-top: 162px;
  height: 100vh;
  max-height: 900px;
}
.fv .swiper-pagination {
  position: relative;
  top: 43px;
}
.fv .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: #efede6;
  margin: 0 30px !important;
  border-radius: 0;
  display: inline-block;
}
.fv .swiper-pagination-bullet-active {
  background: #786552;
}

.fv-img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */