@use "../setting/index" as *;

.how-fv {
  height: calc(100vh - 28px);
  width: 100%;
  margin-top: 120px;
  margin-bottom: 325px;
  min-height: 1020px;
  max-height: 1107px;
  position: relative;
}
.how-fv-inner {
  max-width: 1684px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.pan-list {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  padding: 47px 0 0 84px;
  position: relative;
  z-index: 3;
}
.how-fv-title {
  position: relative;
  z-index: 3;
  margin-left: 134px;
  margin-top: 294px;
  h1 {
    font-family: $family-noto-serif-jp;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 175% */
    letter-spacing: 4px;
  }
}
.how-fv-sub-title {
  font-family: $family-noto-serif-jp;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 500% */
  letter-spacing: 1.4px;
}
.how-fv-item-wrap {
  margin: 56px 8% 0 auto;
  position: relative;
  max-width: 1012px;
}
.how-fv-item {
  position: relative;
  z-index: 3;
  &-top {
    background-color: transparent;
    padding: 16px 43px 42px;
    max-width: 640px;
    min-width: 640px;
    width: 90%;
    transition: background-color 0.3s ease-in-out;
    &.animationSquareBg {
      background-color: $color-bg-02;
    }
  }
  &-btm {
    background-color: transparent;
    padding: 25px 48px 32px;
    max-width: 540px;
    min-width: 540px;
    width: 80%;
    margin: 36px 0 0 auto;
    transition: background-color 0.3s ease-in-out;
    &.animationSquareBg {
      background-color: $color-bg-sakuma;
    }
  }
  h2 {
    font-family: $family-noto-serif-jp;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 269.231% */
    letter-spacing: 2.6px;
  }
}
.how-fv-border {
  height: 1px;
  width: 100%;
  background-color: $color-text;
}
.how-fv-text {
  text-align: justify;
  font-family: $family-noto-serif-jp;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 1.6px;
  margin-top: 14px;
}
.how-fv-square {
  border: 2px solid #eee;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.animationSquareBg {
    opacity: 1;
  }
  &-01 {
    width: 640px;
    height: 254px;
    left: 14%;
    top: 16%;
    @include media(bp1100) {
      left: 2%;
    }
  }
  &-02 {
    width: 547px;
    height: 266px;
    right: 94px;
    top: 36%;
    @include media(bp1100) {
      left: 22%;
    }
  }
}
.how-fv-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.how-ct-inner {
  width: 84%;
  max-width: 1400px;
  margin: 0 auto;
  @include media(bp1245) {
    width: 94%;
  }
}
.how-ct-grid {
  display: grid;
  grid-template-columns: 296px 1fr;
  column-gap: 10%;
  position: relative;
  @include media(bp1100) {
    grid-template-columns: 234px 1fr;
  }
}
.how-ct-nav {
  position: sticky;
  top: 156px;
  left: 0;
  height: calc(100vh - 224px);
  overflow-y: scroll;
  padding-bottom: 140px;
}
.how-ct-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 44px;
  padding-left: 8px;
}
.how-ct-nav-box {
  margin-bottom: 83px;
  @include media(bp767) {
    height: auto;
  }
}
.how-ct-nav-service {
  height: auto;
}
.how-nav-border {
  height: 1px;
  width: 100%;
  background-color: $color-bg-sakuma;
}
.how-ct-list {
  &:hover {
    img {
      opacity: 1;
    }
  }
  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 30px 0 30px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.how-q-a {
  margin-bottom: 130px;
  a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    line-height: 49px;
    width: 100%;
    border: 1px solid $color-text;
  }
  span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-top: 12px;
  }
}
.how-tel {
  text-align: center;
  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    display: block;
    width: 100%;
    margin-bottom: 6px;
  }
  a {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
  }
}
.how-contents {
  padding-top: 34px;
}
.how-contents-inner {
}
.how-item {
  margin-bottom: 400px;
}
.how-item-top {
  position: relative;
}
.how-item-img-box {
  height: 250px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.how-item-title {
  padding: 15px 45px 18px;
  width: 70%;
  position: relative;
  margin-top: -40px;
}
.how-item-main-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.how-item-sub-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  position: relative;
  z-index: 1;
}
.how-item-title-bg {
  background-color: $color-bg-sakuma;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.how-item-top-border {
  position: absolute;
  bottom: 39px;
  height: 1px;
  right: 0;
  width: 47%;
  text-align: left;
  max-width: 353px;
  background-color: $color-text;
  z-index: 1;
}
.how-item-top-border-02 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color-bg-sakuma;
  z-index: 2;
}
.how-item-content {
  margin: 73px auto 107px;
  width: 100%;
}
.how-item-content-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  padding-left: 45px;
  margin-bottom: 9.5px;
}
.how-item-content-border {
  height: 3px;
  width: 100%;
  background-color: $color-bg-sakuma;
  margin-bottom: 10px;
}
.how-item-content-border-short {
  width: 139px;
  max-width: 139px;
  height: 5px;
  background-color: $color-bg-sakuma;
  margin-left: 45px;
}
.how-item-content-text {
  margin: 24.5px auto 55px;
  padding: 0 45px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
}
.how-item-img-wrap {
  padding: 0 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
.how-item-img-wrap-02 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.how-item-img-wrap-03 {
  grid-template-columns: 206px 206px;
  justify-content: center;
}
.how-item-content-img {
  img {
    width: 100%;
    display: block;
    margin-bottom: 13px;
  }
  h4 {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: -0.72px;
  }
  p {
    margin-top: 6px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
}
.how-item-table {
  display: grid;
  grid-template-columns: 86px 132px 1fr;
  margin: 0 45px;
  border: 0.25px solid $color-text;
  .row {
    display: contents;
    .cell {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      border: 0.25px solid $color-text;
      min-height: 33px;
      color: $color-text;
      padding-top: 4px;
      padding-bottom: 4px;
      &-year {
        min-width: 86px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
        padding-left: 7px;
        background-color: $color-bg;
      }
      &-name {
        min-width: 132px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
        padding-left: 11px;
      }
      &-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px; /* 200% */
        letter-spacing: -0.48px;
        padding-left: 13px;
        padding-right: 6px;
      }
    }
  }
}
.how-table-btm-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
  margin-top: 25px;
}
.how-red {
  .cell-name {
    color: #c95a5a !important;
  }
}
.how-blue {
  .cell-name {
    color: #917bb6 !important;
  }
}
.how-beige {
  .cell-name {
    color: #b6b6b6 !important;
  }
}
.how-item-buddhist-text {
  display: grid;
  grid-template-columns: 230px 1fr;
  column-gap: 18px;
  align-items: center;
  margin: 55px 0 47px;
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
  .buddhist-border {
    max-width: 416px;
    width: 100%;
    height: 3px;
    background-color: $color-bg-sakuma;
  }
}
.buddhist-text {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-top: 41px;
}
.buddhist-flex {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  column-gap: 5%;
  padding: 0 45px;
  .how-item-content-text {
    padding: 0;
    width: 100%;
  }
}

@include media(bp885) {
  .pan-list {
    padding-left: 40px;
  }
  .how-fv-title {
    margin-left: 40px;
  }
  .how-fv-item-wrap {
    width: 100%;
  }
  .how-fv-item-btm {
    left: initial;
    margin-left: auto;
    margin-right: 0;
  }
  .how-ct-grid {
    grid-template-columns: 1fr;
  }
  .how-ct-nav {
    position: initial;
    padding-bottom: 159px;
    height: auto;
  }
  .how-tel {
    display: none;
  }
  .how-ct-title {
    padding-left: 0;
    text-align: center;
  }
  .how-ct-nav-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 12px;
    height: auto;
  }
  .how-nav-border {
    display: none;
  }
  .how-ct-list {
    a {
      border: 1px solid $color-bg-sakuma;
      display: block;
      text-align: center;
      padding: 18px 0;
    }
    img {
      display: none;
    }
  }
  .how-q-a {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
.pc-none {
  display: none;
}
@include media(bp767) {
  .how-fv {
    margin-top: 80px;
    margin-bottom: 48px;
    min-height: 776px;
    max-height: initial;
    height: 100%;
  }
  .how-fv-item-wrap {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }
  .how-fv-item-top {
    min-width: initial;
    max-width: initial;
    width: 90%;
  }
  .how-fv-item-btm {
    min-width: initial;
    max-width: initial;
  }
  .how-fv-square-01 {
    width: 80%;
  }
  .how-fv-square-02 {
    width: 80%;
    left: 0;
  }
  .how-item-img-wrap-03 {
    grid-template-columns: 1fr 1fr;
  }
  .pan-list {
    font-size: 9px;
    letter-spacing: 0.9px;
    padding: 16px 0 0 42px;
  }
  .how-fv-title {
    margin-left: 42px;
    margin-top: 207px;
    h1 {
      font-size: 17px;
      line-height: 28px; /* 164.706% */
      letter-spacing: 1.7px;
    }
  }
  .how-fv-sub-title {
    font-size: 9px;
    line-height: 25.885px; /* 287.616% */
    letter-spacing: 0.9px;
  }
  .how-fv-item-wrap {
    margin-top: 46px;
  }
  .how-fv-item {
    h2 {
      font-size: 16px;
      line-height: 48.974px; /* 306.087% */
      letter-spacing: 1.6px;
    }
  }
  .how-fv-text {
    font-size: 11px;
    line-height: 18px; /* 163.636% */
    letter-spacing: 1.1px;
  }
  .how-fv-item-top {
    padding: 12px 40px 28px;
  }
  .how-fv-item-btm {
    width: 84%;
    padding: 20px 40px 35px 50px;
    margin-top: 45px;
  }
  .how-fv-square-01 {
    width: 89%;
    left: 24px;
    top: 35px;
    height: 170px;
  }
  .how-fv-square-02 {
    width: 82%;
    left: initial;
    right: 32px;
    top: 187px;
    height: 186px;
  }
  .how-ct-title {
    font-size: 14px;
    margin-bottom: 31px;
    letter-spacing: 1.4px;
  }
  .how-ct-list {
    a {
      font-size: 12px;
      letter-spacing: 1.2px;
      padding: 5.25px;
    }
  }
  .how-ct-nav-box {
    width: 90%;
    max-width: 272px;
    margin: 0 auto 34px;
  }
  .how-q-a {
    width: 168px;
    a {
      font-size: 12px;
      letter-spacing: 1.2px;
      line-height: 27px;
    }
    span {
      font-size: 10px;
      letter-spacing: 1px;
      margin-top: 6.8px;
    }
  }
  .how-ct-inner {
    width: 100%;
  }
  .how-item-img-box {
    height: 170px;
  }
  .how-item-title {
    padding: 12px 0 13px 24px;
    margin-top: -32px;
    h2 {
      font-size: 16px;
      letter-spacing: 1.6px;
    }
  }
  .how-item-sub-title {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .how-item {
    margin-bottom: 200px;
  }
  .how-item-top-border {
    bottom: 30px;
  }
  .how-item-content {
    margin: 28px auto 56px;
  }
  .how-item-content-title {
    padding-left: 24px;
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 5.36px;
  }
  .how-item-content-border {
    margin-bottom: 5.36px;
  }
  .how-item-content-border-short {
    margin-left: 24px;
  }
  .how-item-content-text {
    padding: 0 24px;
    margin: 15px auto 21px;
    font-size: 11px;
    line-height: 18px; /* 163.636% */
    letter-spacing: 0.55px;
  }
  .how-item-img-wrap {
    padding: 0 24px;
    column-gap: 12px;
  }
  .how-item-content-img {
    img {
      margin-bottom: 6.64px;
    }
    h4 {
      font-size: 6.126px;
      line-height: 12.251px; /* 200% */
      letter-spacing: -0.368px;
    }
    p {
      font-size: 6.163px;
      line-height: 2em;
      margin-top: 3px;
    }
  }
  .how-item-table {
    margin: 0 24px;
    grid-template-columns: 63px 96px 1fr;
    .row {
      .cell-year {
        font-size: 7.241px;
        line-height: 12.414px; /* 171.429% */
        padding-left: 3.4px;
        min-width: 63px;
      }
      .cell-name {
        font-size: 7.241px;
        line-height: 12.414px; /* 171.429% */
        padding-left: 6.14px;
        min-width: 96px;
      }
      .cell-text {
        font-size: 6.207px;
        line-height: 12.414px; /* 200% */
        letter-spacing: -0.248px;
        padding-left: 6.24px;
      }
    }
  }
  .how-table-btm-text {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 11px;
    line-height: 18px; /* 163.636% */
    letter-spacing: 0.55px;
  }
  .how-item-buddhist-text {
    margin: 26px 24px 23px;
    grid-template-columns: 176px 1fr;
    p {
      font-size: 11px;
      line-height: 18px; /* 163.636% */
      letter-spacing: 0.55px;
    }
  }
  .buddhist-text {
    font-size: 11px;
    line-height: 18px; /* 163.636% */
    letter-spacing: 0.55px;
    margin-top: 46px;
  }
  .buddhist-flex {
    grid-template-columns: 1fr;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .how-text-sp {
    display: inline-block;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 163.636% */
    letter-spacing: 0.55px;
    margin-top: 24px;
  }
  .sp-none {
    display: none;
  }
  .pc-none {
    display: block;
  }
  #event {
    .how-item-img-wrap-02 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// service
.service-ct {
  padding-top: 138px;
  .how-item-title {
    margin-top: 0;
  }
  .how-item-content-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.7px;
    margin-bottom: 0;
  }
}
.service-pdf-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -102px;
}
.pdf-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
}
.pdf-border-y {
  width: 5px;
  height: 94px;
  background-color: $color-bg-sakuma;
  margin: 0 26px 0 14px;
}
.service-pdf-box-02 {
  margin-top: 0;
}
.service-pdf-box-03 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 17px;
  margin-top: 55px;
  img {
    width: 100%;
  }
}
.service-pdf-text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
  margin-top: 20px;
}
.service-contact-text {
  width: 100%;
  text-align: center;
  background-color: $color-bg-sakuma;
  margin-top: 97px;
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.7px;
    padding: 12px;
  }
}

.pdf-link {
  img {
    border: 0.5px solid #786552;
  }
}

@include media(bp767) {
  .service-fv {
    height: auto;
    min-height: 320px;
    max-height: 320px;
  }
  .nav-list-title-about {
    margin-top: 0;
  }
  .service-ct {
    .how-ct-nav-box {
      grid-template-columns: 1fr;
      max-width: 168px;
      margin-bottom: 56px;
    }
    .service-pdf-box {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
    .pdf-border-y {
      display: none;
    }
    .pdf-text {
      text-align: center;
      margin-top: 30px;
      font-size: 11px;
      line-height: 18px; /* 163.636% */
      letter-spacing: 0.55px;
    }
    .service-pdf-box-03 {
      margin: 30px 24px 0;
      column-gap: 8.7px;
    }
    .service-pdf-text {
      font-size: 11px;
      line-height: 18px; /* 163.636% */
      letter-spacing: 0.55px;
    }
    .service-contact-text {
      p {
        font-size: 11px;
        line-height: 18px; /* 163.636% */
        letter-spacing: 0.55px;
      }
    }
  }
}
