@use "../setting/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  @include media(bp767) {
    scroll-padding-top: 80px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Noto Serif JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
th,
td,
dt,
dd,
small,
strong {
  font-family: $family-noto-sans-jp;
  color: $color-text;
}

img {
  display: block;
  height: auto;
}

.header-tel {
  display: none;
  @include media(bp998) {
    display: block;
    position: absolute;
    left: 50px;
    top: 81px;
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-color: $color-text;
      -webkit-mask-image: url(../assets/images/tel.svg);
      mask-image: url(../assets/images/tel.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.header {
  background-color: $color-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header-inner {
  padding: 41px 60px 19px;
  display: grid;
  grid-template-columns: auto 1fr 60px;
  align-items: center;
  justify-content: space-between;
  @include media(bp998) {
    display: flex;
    justify-content: center;
  }
}
.logo {
  display: block;
}
.header-nav {
  @include media(bp998) {
    display: none;
  }
}
.header-nav-wrap {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.header-list {
  a {
    color: $color-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    transition: color 0.25s;
    &:hover {
      color: $color-hover-text;
    }
  }
}
.nav-btn {
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.25s;
  position: fixed;
  top: 42px;
  right: 60px;
  z-index: 999;
  &:hover {
    transform: rotate(0);
  }
  &.openRotate {
    transform: rotate(0);
  }
}
.nav-box {
  width: 40px;
  height: 40px;
  border: 2px solid $color-text;
}
.nav-menu-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 84px;
}
.nav-logo {
  margin-bottom: 87px;
}
.nav-text {
  color: $color-text;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu {
  max-width: 734px;
  width: 80%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: $color-bg;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, right 0.6s ease;
  &.is-open {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}
.nav-contents {
  display: grid;
  grid-template-columns: auto auto 1fr auto 1fr;
}
.nav-contents-title {
  p {
    color: $color-text;
    font-family: $family-noto-sans-jp;
    font-size: 17.277px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.728px;
    width: fit-content;
    transform: rotate(-90deg);
    position: relative;
    top: 16px;
    right: -10px;
  }
}
.nav-border {
  width: 1.234px;
  height: 100%;
  background-color: $color-text;
  margin-right: 23px;
}
.nav-contents-box {
}
.nav-list-title {
  color: $color-text;
  font-family: $family-noto-sans-jp;
  font-size: 17.277px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.728px;
  margin-bottom: 10px;
}
.nav-list-link {
  margin: 10px 0;
  a {
    color: $color-text;
    font-family: $family-noto-serif-jp;
    font-size: 17.277px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.681px;
    letter-spacing: 1.728px;
    transition: color 0.3s ease;
    &:hover {
      color: $color-hover-text;
    }
  }
}
.nav-tel-box {
  margin: 100px 0 52px;
  p {
    color: $color-text;
    font-family: $family-noto-sans-jp;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
  }
  a {
    color: $color-text;
    text-align: center;
    font-family: $family-noto-sans-jp;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    transition: color 0.3s ease;
    &:hover {
      color: $color-hover-text;
    }
  }
}
.nav-sns {
  display: flex;
  column-gap: 33px;
  a {
    display: block;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(194 230 174 / 29%);
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
}
.nav-list-title-about {
  margin-bottom: 23px;
  margin-top: 23px;
}
.nav-list-link-sp {
  display: none;
}
@include media(bp767) {
  .nav-list-link-sp {
    display: block;
  }
  .nav-menu {
    width: 100%;
    overflow: scroll;
  }
  .nav-menu-inner {
    padding: 105px 45px 101px;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-logo {
    margin-bottom: 69px;
    img {
      width: 194.687px;
    }
  }
  .nav-contents {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .nav-contents-title {
    p {
      transform: rotate(0);
      position: initial;
      font-size: 16px;
      letter-spacing: 1.6px;
      text-align: center;
      width: 100%;
      padding-bottom: 18px;
    }
  }
  .nav-contents-box {
    padding-left: 18px;
  }
  .nav-list-title {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 15px 0;
    margin-bottom: 0;
    position: relative;
    border-top: 1px solid $color-text;
    &::after {
      content: "▼";
      font-size: 14px;
      color: $color-text;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }
  .nav-list-link {
    margin: 0 0 8px;
    a {
      font-size: 14px;
      letter-spacing: 1.4px;
    }
  }
  .nav-list-title-about {
    &::after {
      display: none;
    }
  }
  .nav-border {
    display: none;
  }
  .nav-list-item-wrap {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .nav-tel-box {
    margin-bottom: 50px;
    p {
      font-size: 14px;
      letter-spacing: 1.4px;
      text-align: center;
    }
    a {
      font-size: 24px;
      letter-spacing: 2.4px;
    }
  }
  .nav-sns {
    padding-bottom: 101px;
    column-gap: 31px;
    a {
      img {
        width: 41px;
        height: 42px;
      }
    }
  }
}
