@use "../setting/index" as *;

.fv {
  padding-top: 162px;
  .fv-inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .swiper-container {
    padding-bottom: 60px;
  }
  .swiper-pagination {
    position: relative;
    top: 43px;
  }
  .swiper-pagination-bullet {
    width: 60px;
    height: 2px;
    background: $color-bg-sakuma;
    margin: 0 30px !important;
    border-radius: 0;
    display: inline-block;
  }
  .swiper-pagination-bullet-active {
    background: $color-text;
  }
}
.fv-img {
  width: 100%;
}

.top-pick {
  padding: 121px 0 202px;
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
}
.top-pick-inner {
  padding: 0 40px;
}
.section-title {
  color: $color-text;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-family: $family-noto-sans-jp;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.section-sub-title {
  color: $color-text;
  text-align: center;
  font-family: $family-noto-serif-jp;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  margin: 2px auto 18px;
  width: fit-content;
}
.section-border-top {
  height: 3px;
  width: 100%;
  background: $color-bg-sakuma;
  margin-bottom: 11px;
}
.section-border-btm {
  height: 5px;
  background: $color-bg-sakuma;
  max-width: 500px;
  width: 60%;
  margin: 0 auto;
}

// pickup
.top-pick-contents {
  display: grid;
  grid-template-columns: 284px 284px 284px;
  column-gap: 32px;
  justify-content: center;
  margin-top: 64px;
}
.top-pick-item {
  img {
    width: 100%;
    height: auto;
  }
}
.top-pick-item-text {
  border-left: 3px solid $color-bg-sakuma;
  margin-top: 16px;
  padding-left: 16px;
}
.pickup-tag {
  color: $color-text;
  font-family: $family-noto-sans-jp;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
.pickup-title {
  margin: 9px 0 10px;
  color: $color-text;
  font-family: $family-noto-serif-jp;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}
.pickup-sub {
  color: $color-text;
  font-family: $family-noto-sans-jp;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

// catalog gift
.top-catalog {
  background-color: #eee;
  padding: 88px 106px;
}
.top-catalog-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
}
.top-catalog-contents {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 43px;
  padding: 0 40px;
  margin-top: 64px;
}
.top-catalog-item {
  img {
    width: 100%;
  }
}
.top-catalog-border {
  width: 1px;
  background-color: #fff;
  height: 100%;
}
.top-category-contents {
  img {
    width: 100%;
  }
}

// category
.top-category {
  padding: 200px 0 250px;
  position: relative;
  overflow: hidden;
}
.top-category-inner {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.top-category-contents {
  margin-top: 69px;
  .swiper-button-next {
    &::after {
      display: none;
    }
    &::before {
      content: "";
      width: 10px;
      height: 20px;
      display: block;
      background-image: url(../assets/images/next.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 40px;
      top: -16px;
      z-index: 5;
    }
  }
  .swiper-button-prev {
    &::after {
      display: none;
    }
    &::before {
      content: "";
      width: 10px;
      height: 20px;
      display: block;
      background-image: url(../assets/images/prev.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 40px;
      top: -16px;
      z-index: 5;
    }
  }
}
.top-category-link {
  min-width: 212px;
  width: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-text;
  margin: 70px auto 0;
  a {
    color: $color-text;
    text-align: center;
    font-family: $family-noto-sans-jp;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    padding: 9px;
    display: block;
  }
}

// what new
.top-what {
}
.top-what-inner {
  width: 90%;
  max-width: 1044px;
  margin: 0 auto;
  padding: 128px 0 162px;
  border-top: 5px solid #efede6;
  border-bottom: 5px solid #efede6;
}
.top-what-contents {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  column-gap: 10%;
  width: 80%;
  margin: 0 auto;
}
.top-what-title-box {
  h2 {
    color: $color-text;
    font-family: $family-noto-sans-jp;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    width: fit-content;
    margin-bottom: 10px;
  }
  h3 {
    color: $color-text;
    width: fit-content;
    text-align: center;
    font-family: $family-noto-sans-jp;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 68px;
  }
  a {
    display: block;
    text-align: center;
    width: 134.743px;
    line-height: 36px;
    color: $color-text;
    text-align: center;
    font-family: $family-noto-sans-jp;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.2px;
    border: 1px solid #786552;
  }
}
.top-what-list {
}
.top-what-item {
  &:last-child {
    a {
      border-bottom: 1px solid $color-text;
    }
  }
  a {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr 12px;
    align-items: center;
    border-top: 1px solid $color-text;
    span {
      color: $color-text;
      font-family: $family-noto-serif-jp;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1px;
    }
  }
}
.top-what-date {
  color: $color-text;
  font-family: $family-noto-serif-jp;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-right: 57px;
}
.top-what-title {
  color: $color-text;
  font-family: $family-noto-serif-jp;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}
