// color
$color-text: #786552;
$color-bg: #c2e6ae;
$color-bg-02: #eff9ea;
$color-hover-text: #a9ca97;
$color-bg-sakuma: #efede6;

// family
$family-noto-sans-jp: "Noto Sans JP";
$family-noto-serif-jp: "Noto Serif JP";
